.timeline-container {
  margin: 0 auto;
  padding: 20px;
}

.timeline {
  list-style: none;
  padding-left: 0;
}

.timeline li {
  margin: 20px 0;
  padding: 20px;
  background-color: var(--accent-color, #f0f0f0);
  color: white;
  border-radius: 8px;
}

.date {
  font-size: 1.2em;
  font-weight: bold;
}

.title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.descr {
  font-size: 1em;
}
